#app3 {
}
#app3 .square {
  border: 3px solid brown;
  margin-top: 30px;
  margin-left: 30px;
  width: 10vw;
  height: 10vh;
  transition: transform 1s;
}
#app3 .square.active {
  transform: translateX(15vw);
}
